<div class="container">
  <div class="col-md-4 offset-md-6">
    <form [formGroup]="gradesFormGroup">
      <fieldset>
        <legend>Add a grade</legend>

        <!-- Grade/radio -->

        <div class="input-group mb-3">
          <span class="input-group-text">Grade</span>

          <!-- Radio list items -->
          <!-- If targeted radio button is selected, take value and set = to behavior/(aka grade) 
          ie. *ngIf="" -->
          <div class="form-check">
            <!-- <input
              class="form-check-input"
              type="radio"
              name="RadioGrade"
              id="radioGood"
              value="GOOD"
            /> -->
            <input
              class="form-check-input"
              type="radio"
              formControlName="gradesRadio"
              id="radioGood"
              value="GOOD"
            />
            <label class="form-check-label" for="flexRadioGood">Good </label>
          </div>

          <div class="form-check">
            <!-- <input
              class="form-check-input"
              type="radio"
              name="RadioGrade"
              id="radioNaughty"
              value="NAUGHTY"
            /> -->
            <input
              class="form-check-input"
              type="radio"
              formControlName="gradesRadio"
              id="radioBad"
              value="BAD"
            />
            <label class="form-check-label" for="flexRadioBad"
              >Bad
            </label>
          </div>

          <div class="form-check">
            <!-- <input
              id="radioEvil"
              class="form-check-input"
              type="radio"
              name="RadioGrade"
              value="EVIL"
            /> -->
            <input
              id="radioEvil"
              class="form-check-input"
              type="radio"
              formControlName="gradesRadio"
              value="EVIL"
            />
            <label class="form-check-label" for="flexRadioEvil">Evil </label>
          </div>
        </div>
      </fieldset>

      <!-- Date/time -->

      <div class="input-group mb-3">
        <div class="input-group date">
          <span class="input-group-text">Date Posted</span>
          <input
            name="timeReported"
            type="date"
            required="required"
            [(ngModel)]="timeReported"
            [ngModelOptions]="{ standalone: true }"
          />
          <!-- <input
            formControlName="timeReported"
            type="date"
            required="required"
          /> -->
        </div>
      </div>

      <!-- Notes -->

      <div class="input-group mb-3">
        <span class="input-group-text">Notes</span>
        <textarea
          name="gradeNotes"
          id="gradeNotes"
          class="form-control"
          name="note"
          placeholder=""
          aria-label="With textarea"
          cols="10"
          rows="3"
          [(ngModel)]="note"
          [ngModelOptions]="{ standalone: true }"
        ></textarea>
      </div>

      <button class="btn btn-primary" (click)="createNewGrade()">Submit</button>
      <div>{{ gradesRadio.value }}</div>
    </form>
  </div>
</div>
