<div class="container">
  <div class="col-md-4 offset-md-6">
    <form action="" method="post">
      <fieldset>
        <legend>Add a grade</legend>

        <!-- Name -->

        <div class="input-group mb-3">
          <span class="input-group-text">Name</span>
          <input
          name="firstName"
            id="student-name"
            value="{{ firstName }}"
            type="text"
            disabled
            [(ngModel)]="firstName"
          />
        </div>

        <!-- Grade/radio -->

        <div class="input-group mb-3">
          <span class="input-group-text">Grade</span>

          <!-- Radio list items -->
          <!-- If targeted radio button is selected, take value and set = to behavior/(aka grade) 
          ie. *ngIf="" -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="RadioGrade"
              id="radioGood"
            />
            <label class="form-check-label" for="flexRadioGood">Good </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="RadioGrade"
              id="radioNaughty"
            />
            <label class="form-check-label" for="flexRadioNaughty"
              >Naughty
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="RadioGrade"
              id="radioEvil"
            />
            <label class="form-check-label" for="flexRadioEvil">Evil </label>
          </div>
        </div>
      </fieldset>

      <!-- Date/time -->

      <div class="input-group mb-3">
        <div class="input-group date">
          <span class="input-group-text">Date Posted</span>
          <input
            type="date"
            required="required"
            [(ngModel)]="date"
            name="date"
          />
        </div>
      </div>

      <!-- Notes -->

      <div class="input-group mb-3">
        <span class="input-group-text">Notes</span>
        <textarea
          name="gradeNotes"
          id="gradeNotes"
          placeholder=""
          class="form-control"
          aria-label="With textarea"
          cols="10"
          rows="3"
          [(ngModel)]="notes"
          name="notes"
        ></textarea>
      </div>

      <button class="btn btn-primary" type="submit" (click)="createNewGrade()">
        Submit
      </button>
    </form>
  </div>
</div>
