<h3 *ngIf="students.id !== 0">{{students.firstName}} {{students.lastName}} grades</h3>

<table class="table table-hover" *ngIf="grades.length !== 0">
    <thead>
        <tr class="table-dark">
            <th>ID</th>
            <th>Time</th>
            <th>Grade</th>
            <th>Notes</th>
            <th>Action button</th>
        </tr>



    </thead>
    <tbody>
        <tr *ngFor="let g of grades">
            <td class="table-primary">{{g.gId}}</td>
            <td class="table-secondary">{{g.timeReported}}</td>
            <td class="table-success">{{g.behavior}}</td>
            <td class="table-info">{{g.note}}</td>
            <td><button class="btn btn-danger" (click)="deleteGrade">delete</button></td>
        </tr>
    </tbody>



</table>