<div class="container">
  <div class="form">
    <h4>Add a Grade</h4>
    <!-- <div class="col-md-4 offset-md-6"> -->
    <form [formGroup]="gradesFormGroup">
      <fieldset>
        <!-- <legend>Add a grade</legend> -->

        <!-- Grade/radio -->

        <div class="input-group mb-3">
          <span class="input-group-text">Grade</span>

          <!-- Radio list items -->

          <span id="radioGradeGroup" class="form-control">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="gradesRadio"
                id="radioGood"
                value="GOOD"
              />
              <label class="form-check-label" for="flexRadioGood">Good </label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="gradesRadio"
                id="radioBad"
                value="BAD"
              />
              <label class="form-check-label" for="flexRadioBad">Bad </label>
            </div>

            <div class="form-check">
              <input
                id="radioEvil"
                class="form-check-input"
                type="radio"
                formControlName="gradesRadio"
                value="EVIL"
              />
              <label class="form-check-label" for="flexRadioEvil">Evil </label>
            </div>
          </span>
        </div>
      </fieldset>

      <!-- Date/time -->

      <div class="input-group mb-3">
        <div class="input-group date">
          <span class="input-group-text">Date Posted</span>
          <input
            name="timeReported"
            type="date"
            required="required"
            class="form-control"
            [(ngModel)]="timeReported"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>

      <!-- Notes -->

      <div class="input-group mb-3">
        <span class="input-group-text">Notes</span>
        <textarea
          name="gradeNotes"
          id="gradeNotes"
          class="form-control"
          name="note"
          placeholder=""
          aria-label="With textarea"
          cols="10"
          rows="3"
          [(ngModel)]="note"
          [ngModelOptions]="{ standalone: true }"
        ></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg" (click)="createNewGrade()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
