#logout {
  padding-right: 2em;
  position: relative;
  vertical-align: middle;
}

#studentNameInput::placeholder {
  text-align: center;
}

.navbar {
  padding-bottom: 1em;
  margin: 0;
  background-color: black;
}
.navbar a {
  color: rgb(178, 195, 214);
  font-family: "Racing Sans One", cursive;
  padding-left: 2em;
}

button,
input {
  font-family: "JetBrains Mono", monospace;
}

.navbar a.logo {
  color: floralwhite;
  padding-left: 3em;
}

.navbar a:hover {
  color: #764ba2;
}
