<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">U.S.S Kinderprise</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/students-page"
            >Home/Students Page</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/grades-page"
            >Temp Grade Page</a
          >
        </li>

        <form class="d-flex">
        <input id="studentNameInput" type="search" placeholder="Search for student by first name" class="form-control me-2" [(ngModel)]= "enteredName" aria-label="Search">
        <button id="searchBtn" type="submit" class="btn btn-outline-success" (click)="getStudent(enteredName)">Search</button>
      </form>

        
        <!-- Searchbar -->
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>



        

      </ul>
    </div>
  </div>
</nav>
