<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">U.S.S Kinderprise</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">


        <form class="d-flex">
        <input id="studentNameInput" type="search" placeholder="Search for student by first name" class="form-control me-2" [(ngModel)]="enteredName" [ngModelOptions]="{standalone: true}" aria-label="Search">
        <button id="searchBtn" type="submit" class="btn btn-outline-success" (click)="getStudent(enteredName)">Search</button>
      </form>

        




        

      </ul>
    </div>
  </div>
</nav>
