#login-h2 {
  padding-bottom: 1em;
}

.login-box {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(250, 235, 215, 0.9);
  width: 30%;
  align-items: center;
  padding: 2rem;

  border-style: solid;
}

#login-page {
  /* background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80"); */
  
}