<div class="container">

    <form action="" method="post">

        <fieldset>
            
            <legend>Add a student</legend>

            <div class="input-group mb-3">
                <span class="input-group-text">First Name</span>
                <input type="text" id="first-name" value="Tommy">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Last Name</span>
                <input type="text" id="last-name" value="Hudson">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Guardian Username</span>
                <input type="text" id="guardian-username" value="hudson1980">
            </div>

        </fieldset>

        <button (click)="register()" class="btn btn-primary" type="submit">Submit</button>

    </form>

</div>
