body {
  margin: 0;
  background: url(../src/assets/images/loginbackground.jpg);
  /* background-position: center; */
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

.page-header {
  padding: 4em;
  background-color: aquamarine;
  text-align: center;
}

.temp-border {
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

.table-form-container {
  padding-top: 2em;
}

.form {
  padding: 2em;
  background-color: beige;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  margin-left: 3em;
  width: 100%;
}

.form h4 {
  text-align: center;
  padding-bottom: 1em;
}
.form button {
  position: relative;
  align-items: center;
}

table {
  border-radius: 10%;
}

#radioGradeGroup {
  padding-left: 2em;
}

