body {
  margin: 0;
  overflow-x: hidden;
  background: url(../src/assets/images/loginbackground.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(6, 32, 60);
  background-size: cover;
  /* background-size: 100%; */
  background-repeat: no-repeat;
}

h2,
h4 {
  font-family: "Coda Caption", sans-serif;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
}

h4 {
  font-family: "JetBrains Mono", monospace;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-size: inherit;
  line-height: inherit;
}

.temp-border {
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

.table-form-container {
  padding-top: 2em;
}

.form {
  padding: 2em;
  /* background-color: beige; */
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 0.9) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  margin-left: 3em;
  width: 100%;
}

.form h4 {
  text-align: center;
  padding-bottom: 1em;
}
.form button {
  position: relative;
  align-items: center;
}

table {
  border-radius: 10%;
}

th {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
}

td {
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
}

.background {
  background-color: rgb(255, 235, 205, 0.2);
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}
