<h3>Students</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Guardian Username</th>
            <th>Remove Student</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of students">
            <td routerLink="/grades">{{s.id}}</td>
            <td routerLink="/grades">{{s.firstName}}</td>
            <td routerLink="/grades">{{s.lastName}}</td>
            <td routerLink="/grades">{{s.guardianUsername}}</td>
            <td><button class="btn btn-danger" (click)="deleteStudent(s.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
