<!-- <div class="container"> -->
<div class="form">
  <form action="" method="post">
    <h4>Add a Student</h4>
    <fieldset>
      <!-- <legend>Add a student</legend> -->

      <div class="input-group mb-3">
        <span id="radioGradeGroup" class="input-group-text">First Name</span>
        <input
          name="firstName"
          type="text"
          placeholder="Tommy"
          class="form-control"
          [(ngModel)]="firstName"
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Last Name</span>
        <input
          name="lastName"
          type="text"
          placeholder="Hudson"
          class="form-control"
          [(ngModel)]="lastName"
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Guardian Username</span>
        <input
          name="guardianUsername"
          type="text"
          placeholder="hudson1980"
          class="form-control"
          [(ngModel)]="guardianUsername"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </fieldset>

    <div class="text-center">
      <button class="btn btn-primary btn-lg" (click)="register()">
        Submit
      </button>
    </div>
  </form>
</div>
