input,
label,
button {
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
}

.input-group-text {
  display: flex;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  padding: 0.375rem 0.75rem;
  /* font-size: 1rem; */
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  background-color: rgba(130, 180, 220, 0.5);
}
