body {
  margin: 0;
}

h2 {
  font-size: 3rem;
}

.page-header {
  padding: 2em;
  background-color: aquamarine;
  text-align: center;
}

.temp-border {
  border-style: solid;
  border-color: red;
  border-width: 2px;
}
